.buttons {
  width: 210px;
  margin-left: 20px;
}

.loginDiv{
  position: absolute;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  margin: auto;
  width: 250px;
  height: 200px;
}