.selected {
    border: solid red 1px;
    margin: 20px;
}
.unselected {
    border: solid black 1px;
    margin: 20px;
}
.board {
    float: left;
    height: 124px;
    width: 150px;
}
.boardRow {
    font-size: 12px;
    height: 41px;
    width: 150px;
    text-align: center;
}
.boardWon{
    height: 100%;
    width: 100%;
    position: relative;
}
.letterWon{
    height: 100%;
    margin: 0 auto;
    width: 80%;
    font-size: 70px;
    text-align: center;
}