.selected {
    border: solid red 2px;
    margin: 20px;
}
.unselected {
    border: solid black 1px;
    margin: 20px;
}
.board {
    width: 150px;
    float: left;
    margin: 5px;
}
.winX {
    border: solid green 1px;
    background-color: green;
    opacity: .7;
}
.winO {
    border: solid blue 1px;
    background-color: blue;
    opacity: .9;
}