/* .grid-container {
    display: grid;
    grid-gap: 50px 50px;
} */

.game {
    width: 80%;
    margin: 0 25%;
    height: 560px;
}
.gameRow {
    height: 124px;
    width: 100%;
    margin: 10px;
    float: left;
}