.loginForm {
    width: 15vw;
    margin: 0 auto 0 auto;
}

.loginForm input {
    margin: 5px auto;
    width: 100%;
    box-shadow: none;
    border: 1px solid black;
    border-radius: 5px;
}

.loginForm button {
    width: 7vw;
    margin-left: 0;
}